@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
  height: 4px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the track */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Custom color for the thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}
